<html>
<body>

<!--[final take-home] Display pages to allow the user to 1. Find GPS coordinates from an address and 2.  Display forecast in that area -->

<center><h1>CLIMATE CLOSET<img src="http://image005.flaticon.com/137/svg/116/116314.svg" height="50" width="50"></h1></center>

<!-- [final take-home] Display forecast -->
<div class = "frame">
	<iframe style = "float: right;" width="50%" height="600px" name="iframe" src = "/forecasts/new" ></iframe> 
</div>

<!-- [final take-home] Display Locations -->
<div class = "frame">
	<iframe style = "float: right;" width="50%" height="600px" name="iframe" src = "/locations/new" ></iframe> 
</div>

</body>
</html>